//
// VARIABLES
//

//FONTS

@import url(https://fonts.googleapis.com/css?family=Bangers|Prosto+One|Ubuntu|Lato|Roboto);

$font-title: 'Bangers', cursive;
$font-text: 'Roboto', sans-serif; 	

// font-family: 'Bangers', cursive;
// font-family: 'Unica One', cursive;
// font-family: 'Prosto One', cursive;
// font-family: 'Ubuntu', sans-serif;
// font-family: 'Lato',tapon05 sans-serif;
// font-family: 'Roboto', sans-serif;

//COLORS

// $GRIS: #c2cfb2; //rgba(194, 207, 178, 100) gris

$text-primary: #000000; //rgba(0, 0, 0, 100)       negro
$title-primary: #01a7c2; //rgba(240, 128, 60, 100)  naranja
$title-secondary: #f0803c; //rgba(1, 167, 194, 100)	 celeste

//WIDTH
